<header>
    <div style="text-align: center;">
        <img src="/assets/images/logo.png" alt="Project 2025 Assistant Logo" style="max-width: 300px;">
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/toc.html">Table of Contents</a></li>
            <li><a href="/about.html">About Us</a></li>
        </ul>
        <div class="share-buttons">
            <a href="https://www.facebook.com/sharer.php?u={{ page.url | absolute_url }}" target="_blank">
                <img src="/assets/images/share-icons/facebook.png" alt="Share on Facebook" />
            </a>
            <a href="https://twitter.com/share?url={{ page.url | absolute_url }}&text={{ page.title }}" target="_blank">
                <img src="/assets/images/share-icons/twitter.png" alt="Share on Twitter" />
            </a>
            <a href="https://www.linkedin.com/shareArticle?url={{ page.url | absolute_url }}&title={{ page.title }}" target="_blank">
                <img src="/assets/images/share-icons/linkedin.png" alt="Share on LinkedIn" />
            </a>
        </div>
    </nav>
</header>
